.float-in {
    animation: float-in 1s ease-in;
    position: absolute;
    top: 6px;
    z-index: 1;
}

.float-out {
    animation: float-out 1s ease-out;
    position: absolute;
    top: 6px;
    z-index: 1;
}

@keyframes float-in {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes float-out {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
